<h1>News</h1>
<br>
<div id="article-block-content" >
	<% @articles.each do |article| %>
	
	  	<a id="home-article-image" href="#">
	  		<%= link_to image_tag(article.image_url(:thumb)), article if article.image? %>
	  	</a>
	  		
	  	<h4><%= link_to article.title, article %></h4>
		<%= article.content %>
	
	<% end %>
</div>