<% provide(:title, 'Games') %>
<h1>Games</h1>

<div id="lightbox">
	<h1>Action</h1>
	<ul>
	<% @games.each do |game| %>
		<li>
			<%= link_to image_tag(game.image_url(:thumb)), game  if game.image?%>
			<div class="image_title">
				<h5 class="title"><%= link_to game.name, game %></h5>
			</div>
		</li>
	<% end %>
	</ul>
</div>
