<header id="games-header-bar" class="navbar navbar-inverse">
	<div class="navbar-inner">
		<div class="navbar-header">
			<h1 id="games-header-text">Games</h1>
		</div>
	</div>
</header>

<% if @action_games %>
	<% render 'action_games' %>
<% end %>