<header id="games-header-bar" class="navbar navbar-inverse">
	<div class="navbar-inner">
		<div class="navbar-header">
			<h1 id="games-header-text">Uploaded Games</h1>
		</div>
	</div>
</header>

<% if signed_in? || currnt_user.admin? %>
	<div id="lightbox">
		<h1>Games</h1>
		<ul>
			<% @games.each do |game| %>
				<li>
					<%= link_to image_tag(game.image_attachments.first.image_url), game %>
					<div class="image_title">
						<h5 class="title"><%= link_to game.name, game %></h5>
					</div>
				</li>
			<% end %>
		</ul>
	</div>
<% end %>