// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#show-user .gravatar img{
  float: left; 
  width: 80px;
  height: 80px;
}
#show-user .show-username p{
	margin-top: 10px;
}
#uploaded-games .uploaded-game-image #myCarousel{
	width: 620px;
	height: 360px;
	margin: 0px;
}
#uploaded-games .uploaded-game-image #myCarousel img{
	width: 620px;
	height: 360px;
}

#show-all-uploaded-games{
	margin-left: 510px;
	margin-top: 10px;
}

#admin-button{
	margin-left: 5px;
}

#edit-user-button{
	float: left;
}