// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#show-user .gravatar img{
  float: left; 
  width: 80px;
  height: 80px;
}
#show-user .show-username p{
	margin-top: 10px;
}